@page
@using Microsoft.Extensions.Localization
@using FS.UnifyTheme.Localization
@model FS.UnifyTheme.Web.Pages.UnifyTheme.IndexModel
@inject IStringLocalizer<UnifyThemeResource> L
@{
}
<h1>UnifyTheme</h1>
<p>@L["SamplePageMessage"]</p>
