@page "/EmailingManagement"
@using Microsoft.Extensions.Localization
@using global::FS.Abp.EmailingManagement.Localization
@inject IStringLocalizer<EmailingManagementResource> L
@{
}
<h1>EmailingManagement</h1>
<p>@L["SamplePageMessage"]</p>