@page
@using Microsoft.Extensions.Localization
@using FS.Social.Localization
@using FS.Social.Web.Pages.Social
@model FS.Social.Web.Pages.Social.IndexModel
@inject IStringLocalizer<SocialResource> L

@{
}
<h1>Social</h1>
<p>@L["SamplePageMessage"]</p>
