@page
@using Microsoft.Extensions.Localization
@using FS.CmsKit.Localization
@using FS.CmsKit.Web.Pages.CmsKit
@model FS.CmsKit.Web.Pages.CmsKit.IndexModel
@inject IStringLocalizer<CmsKitResource> L

@{
}
<h1>CmsKit</h1>
<p>@L["SamplePageMessage"]</p>
