@page
@using Microsoft.Extensions.Localization
@using FS.EcPay.Localization
@using FS.EcPay.Web.Pages.EcPay
@model FS.EcPay.Web.Pages.EcPay.IndexModel
@inject IStringLocalizer<EcPayResource> L

@{
}
<h1>EcPay</h1>
<p>@L["SamplePageMessage"]</p>
