@page "/UnifyTheme"
@using Microsoft.Extensions.Localization
@using global::FS.UnifyTheme.Localization
@inject IStringLocalizer<UnifyThemeResource> L
@{
}
<h1>UnifyTheme</h1>
<p>@L["SamplePageMessage"]</p>