@page "/ContentDefinitions"
@using Microsoft.Extensions.Localization
@using global::FS.CmsKit.ContentDefinitions.Localization
@inject IStringLocalizer<ContentDefinitionsResource> L
@{
}
<h1>ContentDefinitions</h1>
<p>@L["SamplePageMessage"]</p>