@page
@using Microsoft.Extensions.Localization
@using FS.PaymentService.Localization
@using FS.PaymentService.Web.Pages.PaymentService
@model FS.PaymentService.Web.Pages.PaymentService.IndexModel
@inject IStringLocalizer<PaymentServiceResource> L

@{
}
<h1>PaymentService</h1>
<p>@L["SamplePageMessage"]</p>
