@page
@using Microsoft.Extensions.Localization
@*@using FS.Payment.EcPay.Localization*@
@using FS.Payment.EcPay.Web.Pages.EcPay
@model FS.Payment.EcPay.Web.Pages.EcPay.IndexModel
@*@inject IStringLocalizer<EcPayResource> L*@

@{
}
<h1>EcPay</h1>
@*<p>@L["SamplePageMessage"]</p>*@
