@page
@using Microsoft.Extensions.Localization
@using FS.EntityManagement.Localization
@using FS.EntityManagement.Web.Pages.EntityManagement
@model FS.EntityManagement.Web.Pages.EntityManagement.IndexModel
@inject IStringLocalizer<EntityManagementResource> L

@{
}
<h1>EntityManagement</h1>
<p>@L["SamplePageMessage"]</p>
