@page "/ContentComposites"
@using Microsoft.Extensions.Localization
@using global::FS.CmsKit.ContentComposites.Localization
@inject IStringLocalizer<ContentCompositesResource> L
@{
}
<h1>ContentComposites</h1>
<p>@L["SamplePageMessage"]</p>