@page
@using Microsoft.Extensions.Localization
@using FS.CmsKit.Localization
@using FS.CmsKit.ContentComposites.Web.Pages.ContentComposites
@model FS.CmsKit.ContentComposites.Web.Pages.ContentComposites.IndexModel
@inject IStringLocalizer<CmsKitResource> L

@{
}
<h1>ContentComposites</h1>
<p>@L["SamplePageMessage"]</p>
