@page "/EShopManagement"
@using Microsoft.Extensions.Localization
@using global::FS.EShopManagement.Localization
@inject IStringLocalizer<EShopManagementResource> L
@{
}
<h1>EShopManagement</h1>
<p>@L["SamplePageMessage"]</p>