@page "/SocialManagement"
@using Microsoft.Extensions.Localization
@using global::FS.SocialManagement.Localization
@inject IStringLocalizer<SocialManagementResource> L
@{
}
<h1>SocialManagement</h1>
<p>@L["SamplePageMessage"]</p>