@page "/Emailing"
@using Microsoft.Extensions.Localization
@using global::FS.Abp.Emailing.Localization
@inject IStringLocalizer<EmailingResource> L
@{
}
<h1>Emailing</h1>
<p>@L["SamplePageMessage"]</p>