@page
@using Microsoft.Extensions.Localization
@using FS.Entity.Localization
@using FS.Entity.Web.Pages.Entity
@model FS.Entity.Web.Pages.Entity.IndexModel
@inject IStringLocalizer<EntityResource> L

@{
}
<h1>Entity</h1>
<p>@L["SamplePageMessage"]</p>
