@page
@using Microsoft.Extensions.Localization
@*@using FS.SocialManagement.Localization*@
@using FS.SocialManagement.Web.Pages.SocialManagement
@model FS.SocialManagement.Web.Pages.SocialManagement.IndexModel
@*@inject IStringLocalizer<SocialManagementResource> L*@

@{
}
<h1>SocialManagement</h1>
@*<p>@L["SamplePageMessage"]</p>*@
