@page "webhook/line-notify/call-back"
@using Microsoft.Extensions.Localization
@using FS.LineNotify.Web.Pages.LineNotify
@model FS.LineNotify.Web.Pages.LineNotify.CallBackModel

@{
    Layout=null;
}
<p>Line Notify 連結已完成，請關閉此頁</p>
