@page "/EntityManagement"
@using Microsoft.Extensions.Localization
@using global::FS.EntityManagement.Localization
@inject IStringLocalizer<EntityManagementResource> L
@{
}
<h1>EntityManagement</h1>
<p>@L["SamplePageMessage"]</p>