@page
@using Microsoft.Extensions.Localization
@using FS.CmsKit.Localization
@using FS.CmsKit.ContentDefinitions.Web.Pages.ContentDefinitions
@model FS.CmsKit.ContentDefinitions.Web.Pages.ContentDefinitions.IndexModel
@inject IStringLocalizer<CmsKitResource> L

@{
}
<h1>ContentDefinitions</h1>
<p>@L["SamplePageMessage"]</p>
