@page
@using Microsoft.Extensions.Localization
@using FS.Tspg.Localization
@using FS.Tspg.Web.Pages.Tspg
@model FS.Tspg.Web.Pages.Tspg.IndexModel
@inject IStringLocalizer<TspgResource> L

@{
}
<h1>Tspg</h1>
<p>@L["SamplePageMessage"]</p>
