@page "/PaymentService"
@using Microsoft.Extensions.Localization
@using global::FS.PaymentService.Localization
@inject IStringLocalizer<PaymentServiceResource> L
@{
}
<h1>PaymentService</h1>
<p>@L["SamplePageMessage"]</p>