@page
@using Microsoft.Extensions.Localization
@using FS.Abp.EmailingManagement.Localization
@using FS.Abp.EmailingManagement.Web.Pages.EmailingManagement
@model FS.Abp.EmailingManagement.Web.Pages.EmailingManagement.IndexModel
@inject IStringLocalizer<EmailingManagementResource> L

@{
}
<h1>EmailingManagement</h1>
<p>@L["SamplePageMessage"]</p>
