@page
@using Microsoft.Extensions.Localization
@using Volo.Payment.Localization
@using FS.Payment.Tspg.Web.Pages.Tspg
@model FS.Payment.Tspg.Web.Pages.Tspg.IndexModel
@inject IStringLocalizer<PaymentResource> L

@{
}
<h1>Tspg</h1>
<p>@L["SamplePageMessage"]</p>
